.color-body{
    height: 100vh;
    background-color: aqua;
}

.btn-style{
    width: 200px;
    border-radius: 8px;
    color: white;
    background-color: darkred;
}

.rectangle {
    height: 600px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
  }

  .img-avatar{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }